<div class="row-container header">
    <div class="row">
        <header>
            <h1>List View</h1>

            <div data-ng-include="'/build/templates/partials/main-nav.html'"></div>
        </header>
    </div>
</div>

<div class="row-container list-container">
    <div class="row">

        <div class="table-controls form-inline clearfix">
            <input type="text" class="form-control" placeholder="Filter Users" data-ng-model="query">
        </div>

        <table>
            <thead>
                <th>User Id</th>
                <th>Full Name</th>
                <th>Contact Email</th>
            </thead>
            <tbody infinite-scroll="list.getNextPage()"
                    infinite-scroll-disabled="list.busy || list.nextPage === null"
                    infinite-scroll-distance="0">
                <tr data-ng-repeat="item in list.items | filter:query" id="{{ item.id }}" >
                    <td>
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.firstName }} {{ item.lastName }}
                    </td>
                    <td>
                        <a href="mailto:{{ item.email }}">{{ item.email }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div data-ng-show="items.busy">Loading data...</div>
    </div>
</div>